html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, i, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

* { box-sizing: border-box; }

/*INPUT PLACEHOLDER HEAD*/
input, button, textarea, select { display: block; margin: 0; appearance: none; box-shadow: none; border-radius: none; border: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; border-radius: 0; }

input:focus, textarea:focus, select:focus, button:focus { outline: 0; }

input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder { color: white !important; }

::selection { background-color: #f07746; color: #fff; }

::-moz-selection { background-color: #f07746; color: #fff; }

body { background-color: #fff; margin: 40px auto; max-width: 1024px; font: 16px/24px normal "Helvetica Neue",Helvetica,Arial,sans-serif; color: #808080; }

a { color: #dd4814; background-color: transparent; font-weight: normal; text-decoration: none; }

a:hover { color: #97310e; }

h1 { color: #fff; background-color: #d0d0d0; border-bottom: 1px solid #d0d0d0; font-size: 22px; font-weight: bold; margin: 0 0 14px 0; padding: 5px 10px; line-height: 40px; }

h1 img { display: block; }

h2 { color: #404040; margin: 0; padding: 0 0 10px 0; }

code { font-family: Consolas, Monaco, Courier New, Courier, monospace; font-size: 13px; background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px; color: #002166; display: block; margin: 14px 0 14px 0; padding: 12px 10px 12px 10px; }

#body { margin: 0 15px 0 15px; min-height: 96px; }

p { margin: 0 0 10px; padding: 0; }

p.footer { text-align: right; font-size: 12px; border-top: 1px solid #d0d0d0; line-height: 32px; padding: 0 10px 0 10px; margin: 20px 0 0 0; background: #8ba8af; color: #fff; }

#container { margin: 10px; border: 1px solid #d0d0d0; box-shadow: 0 0 8px #d0d0d0; border-radius: 4px; }

/*# sourceMappingURL=maps/style.css.map */
